* {
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Inter', sans-serif;
}

/* //////////////////NAV/////////////////////// */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 4rem;
}
.nav-content ul {
    list-style-type: none;
    display: flex;
    gap: 2rem;
}
nav a{
    text-decoration: none;
    color: hsl(240, 100%, 5%);
}

nav a:hover{
    color: hsl(5, 85%, 63%);
}

.toggle-button {
    position: absolute;
    right: 15px;
    top: 55px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 50px;
    height: 22.5px;
}

.toggle-button .bar {
    height: 4px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
    transition: 0.5s;
}

.toggle-button.active .bar:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
    transition: 0.5s;
}

.toggle-button.active .bar:nth-child(2) {
    opacity: 0;
}
.toggle-button .bar:nth-child(2) {
    height: 3px;
}

.toggle-button.active .bar:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
}   


@media (max-width:37.5rem) {
    .nav-content ul{
        display: flex;
        flex-direction: column;
        padding: 175px 0 0 30px;
        height: 100vh;
        width: 60%;
        background-color: white;
        font-weight: 400;
        position: absolute;
        right:-500px;
        top: 0;
        transition: 0.5s;
        font-size: 1.25rem;
    }
    .nav-content.active ul {
        right: 0;
    }
    .toggle-button{
        display: flex;
        top:25px;
        right: 25px;
    }
    nav {
        padding: 1rem;
    }
}